.cont{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input{
	padding: 10px;
	width: 100%;
	font-size: 14px;
}

ul{
	list-style: none;
	padding: 0;
}

.suggestions li{
	padding: 10px;
	border-bottom: 1px solid #cecece;
}
.suggestions  li:hover{
	background-color: #cecece;
	cursor: pointer;
}

.savedItem{
	position: relative;
	margin: 5px 0;
}

.savedItem button{
	z-index: 2;
	position: absolute;
    right: 5px;
    top:10px;
    cursor: pointer;
}

.savedItem button:before{
	content: "\2718";
}

.myFoods{
    display: flex;
    flex-direction: column;
}

/* Accordion */
.section {
  position: relative;
  width: 100%;
 border:1px solid #cecece;
}

.section.open{
	background: rgb(251, 251, 251);
}

.section.open button:before, .section.open button:after {
  height: 14px;
}
.section.open button:before {
  transform: translate(0%, -50%) rotate(-45deg);
}
.section.open button:after {
  transform: translate(0%, -50%) rotate(45deg);
}
.section.open > .articlewrap {
  height: auto;
    /*height: 400px;*/
    /*overflow: scroll;*/
}

.articlewrap {
  height: 0;
  overflow: hidden;
  transition: all .2s ease-in;
}

.sectionhead {
  cursor: pointer;
  display: block;
  padding: 5px;
  color: #4D4D4D;
  font-size: 16px;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sectionhead:hover{
	background: #EFEFEF;
}

.article {
  padding: 1em;
  color: #333;
  line-height: 1.3;
}


/*Loader*/
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #00e1ff;
  background: -moz-linear-gradient(left, #00e1ff 10%, rgba(0,225,255, 0) 42%);
  background: -webkit-linear-gradient(left, #00e1ff 10%, rgba(0,225,255, 0) 42%);
  background: -o-linear-gradient(left, #00e1ff 10%, rgba(0,225,255, 0) 42%);
  background: -ms-linear-gradient(left, #00e1ff 10%, rgba(0,225,255, 0) 42%);
  background: linear-gradient(to right, #00e1ff 10%, rgba(0,225,255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #00e1ff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fffdfd;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}